.container{
    margin-top: 10vh;
    min-height: 80vh;
    width:100vw;
    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}

.button{
    display:flex;
    justify-content:center;
    align-items:center;
    width:600px;
    height:300px;
    margin:15px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes buttonHover {
    from {
        border: 5px solid white;
        background-size: auto 100%;
    }
    to {
        border: 5px solid grey;
        background-size: auto 300%;
    }
}

.button:hover {
    animation-duration: 3s;
    animation-name: buttonHover;
    animation-iteration-count: 1;
    background-size: auto 300%;
    cursor: pointer;
    border: 5px solid grey;
}

@keyframes hvshHover{
    from {
        opacity:0;
        background-image:url('../../images/humanVsHuman.png');
    }
    to {
        opacity: 1;
        background-image:url('../../images/humanVsHuman.png');
    }
}

@keyframes hvsiaHover{
    from {
        opacity:0;
        background-image:url('../../images/humanVsIa.png');
    }
    to {
        opacity: 1;
        background-image:url('../../images/humanVsIa.png');
    }
}

.hvsh, .hvsia{
    width:100%;
    height:100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.hvsh:hover{
    animation-duration: 3s;
    animation-name: hvshHover;
    animation-iteration-count: 1;
    background-image:url('../../images/humanVsHuman.png');
}

.hvsia:hover{
    animation-duration: 3s;
    animation-name: hvsiaHover;
    animation-iteration-count: 1;
    background-image:url('../../images/humanVsIa.png');
}